/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkorange;
  }
  
  .game-container {
    background-color: tomato;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: whitesmoke;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .card.flipped img {
    display: block;
  }
  
  .card.matched {
    background-color: #2ecc71;
  }
  
 
  button {
    padding: 10px 20px;
    background-color: rgb(139, 50, 50);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(139, 0, 0);
  }
  
  footer {
color: whitesmoke;
font-size: large;
background-color: tomato;
  }